.App {
  text-align: center;
  background-image: url(https://harthouse.ca/assets/images/uploads/theatre-shows/hht-banner-season-default-duo.jpg);
  background-position: center;
  background-size:cover;
  width: 100%;
  height: 125em;
/* z-index: -2; */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* header  */
.App-header {
  background-color: #110516;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(8px + 1.5vmin);
  color: white;
}
.header-navbar{
  display: flex;
  width: 150px;
  justify-content: space-between;
  list-style: none;

}
.movie-logo-img{
  width: 80px;
  height: 65px;
  margin-left: 0px;
}

/* movie list */
/* movie nav bar */
.movie-list-navbar{
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin-left: 3.2em;
  margin-top: 2em;
  border-radius: .5em;

}
.movie-nav-btn{
  color: #fff;
  background-color: rgb(26, 10, 10);
  border:rgb(71, 60, 60) .02px solid;
  padding: 8px 40px;
}
.movie-list-container{
  /* height:100vh ; */
}
/* .App-link {
  color: #61dafb;
} */
/* movie card */
.rating-btn{
  border-radius: 50%;
}
.movie-poster{
  size:100%;
  width: 100%;
  height: 310px;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.movie-card-footer{
  display:flex;
  color:rgb(248, 239, 239);
  background-color:rgb(15, 14, 14);
  height:6em;
  justify-content: space-around;
  align-items: center;
  
}
.release-title-box{
  text-align: start;
  margin-left: 0em;
}
.title{
  text-align: start;
  /* font-size:1.1em; */

}
.release-date{
  text-align: start;
  /* font-size: .85em; */
}

.login-form{
    background-color: rgba(28, 24, 36, 0.561);
    border-radius: 8px;
    color: #fff;
    max-width: 350px;
    min-height: 400px;
    padding: 20px;
    margin: 7% 34%;
   
  
}
.register-form{
  text-align: start;
}
.fas{
  background-color: #fff;
}
/* footer */
.movie-list-footer{
  /* margin-bottom: 4em; */
  width:100%;
}
.page-btn{
  color:#fff;
}