.App {
  text-align: center;
  background-image: url(https://harthouse.ca/assets/images/uploads/theatre-shows/hht-banner-season-default-duo.jpg);
  background-position: center;
  background-size:cover;
  width: 100%;
  max-height: fit-content;
  min-height:100vh;
/* z-index: -2; */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* header  */
.App-header {
  background-color: #110516;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(8px + 1.5vmin);
  color: white;
}
.header-navbar{
  display: flex;
  width: 180px;
  justify-content: space-between;
  list-style: none;

}
.movie-logo-img{
  width: 80px;
  height: 65px;
  margin-left: 0px;
}

/* movie list */
/* movie nav bar */
.movie-list-navbar{
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin-left: 3.3em;
  margin-top: 2em;
  border-radius: .5em;

}
.movie-nav-btn{
  color: #fff;
  background-color: rgb(26, 10, 10);
  border:rgb(71, 60, 60) solid .02px ;
  padding: 8px;
  width: 10em;
}

/* movie card */
.rating-btn{
  border-radius: 50%;
  width: 2.65em;
  border: rgb(95, 32, 21) solid 1px;
  margin-bottom: 20%;
}
.movie-poster{
  width: 100%;
  height: 280px;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.movie-card-footer{
  display:flex;
  color:rgb(248, 239, 239);
  background-color:rgb(15, 14, 14);
  height:6em;
  justify-content: space-between;
  padding: 8px 5px;
}
.release-title-box{
  text-align: start;
  padding: 4px;
}
.title{
  text-align: start;
  color:#fff;
  margin-bottom:5px;
 
}
.release-date{
  text-align: start;
  
}
/* login and register form */
.login-form{
    background-color: rgba(28, 24, 36, 0.561);
    border-radius: 8px;
    color: #fff;
    max-width: 350px;
    min-height: 400px;
    padding: 20px;
    margin: 2.5em 34%;

  
}
.register-form{
  text-align: start;
}
.fas{
  background-color: #fff;
}
/* footer */
.movie-list-footer{
  margin-top: 1em;
  width:100%;
  padding-bottom: 2em;
}
.page-btn{
  color:#fff;
  font-size: 1.32em;
  padding: 5px 22px;
  font-weight: 100em;
}